body {
    margin: 0;
    overflow: hidden;
}
.container{
    position: relative;
    width: 60vw;
    height: 60vh;
    left: 10%;
    margin: 5%;
    background-color: brown;
}

.basketball {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: bounce 3s linear infinite ,bounceBack 1s ease-out  infinite alternate;

}

@keyframes bounce {
    
    from{
        left: 0;
    }
    to{
        left: 100%;
    }

}
@keyframes bounceBack {
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
}
